* {
  padding: 0;
}
body {
  font-family: Roboto, sans-serif;
}
#header .navbar li {
  padding: 14px 15px;
}
#header .navbar a {
  display: block;
}
#header .tool-bar li {
  padding: 14px 10px;
}
#header .drop-down .shop li:not(:first-child) {
  font-size: 25px;
  line-height: 0.5;
  font-weight: 500;
}
#header .drop-down .quickLiks li:not(:first-child),
#header .drop-down .shop-special-stire li:not(:first-child) {
  line-height: 0.2;
}
#sec_iphone15pro_dark .iphone15pro__box_image .iphone15pro__image {
  background-repeat: no-repeat;
  background-position: center;
}
#sec_iphone15pro_dark .iphone15pro__box_image .large {
  background-image: url(../image/hero_iphone15pro.jpg);
  background-size: 3008px 736px;
}
#sec_iphone15pro_dark .iphone15pro__box_image .small {
  background-image: url(../image/hero_iphone15pro__vertical.jpg);
  background-size: cover;
}
#sec_iphone15pro_light .iphone15pro__box_image .iphone15pro__image {
  background-repeat: no-repeat;
  background-position: center;
}
#sec_iphone15pro_light .iphone15pro__box_image .large {
  background-image: url(../image/hero_iphone15_white-horizantal.jpg);
  background-size: 3008px 736;
}
#sec_iphone15pro_light .iphone15pro__box_image .small {
  background-image: url(../image/iphone15-white-small.jpg);
  background-size: 1000px 548px;
}
#sec_apple-watch-series-9 .apple-watch__box_image .apple-watch__image {
  background-repeat: no-repeat;
  background-position: bottom;
}
#sec_apple-watch-series-9 .apple-watch__box_image .large {
  background-image: url(../image/hero_apple_watch_series_9_order__d0fi9mb84dci_largetall_2x.jpg);
  background-size: 3100px 740px;
}
#sec_apple-watch-series-9 .apple-watch__box_image .small {
  background-image: url(../image/hero_apple_watch_series_9_order__d0fi9mb84dci_small_2x.jpg);
  background-size: cover;
}
