* {
  padding: 0;
}
body {
  font-family: Roboto, sans-serif;
}
#header .navbar li {
  padding: 14px 15px;
}
#header .navbar a {
  display: block;
}
#header .tool-bar li {
  padding: 14px 10px;
}
#header .drop-down .sub_title_text_large li:not(:first-child) {
  font-size: 25px;
  line-height: 1.6;
  font-weight: 500;
}
#header .drop-down .sub_title_text_small li:not(:first-child) {
  line-height: 1.5;
  font-size: 15px;
}
.box_image .image {
  background-repeat: no-repeat;
  background-position: center;
}
#sec_iphone15pro_dark .box_image .large {
  background-image: url(../image/hero_iphone15pro.jpg);
  background-size: 3008px 736px;
}
#sec_iphone15pro_dark .box_image .small {
  background-image: url(../image/hero_iphone15pro__vertical.jpg);
  background-size: cover;
}

#sec_iphone15pro_light .box_image .large {
  background-image: url(../image/hero_iphone15_white-horizantal.jpg);
  background-size: 3008px 736;
}
#sec_iphone15pro_light .box_image .small {
  background-image: url(../image/iphone15-white-small.jpg);
  background-size: 1000px 548px;
}

#sec_apple-watch-series-9 .box_image .large {
  background-image: url(../image/hero_apple_watch_series_9_order__d0fi9mb84dci_largetall_2x.jpg);
  background-size: 3100px 740px;
}
#sec_apple-watch-series-9 .box_image .small {
  background-image: url(../image/hero_apple_watch_series_9_order__d0fi9mb84dci_small_2x.jpg);
  background-size: cover;
}
#collection-module .box_image .box-1 {
  background-image: url(../image/promo_ipad__fioegapg12qi_large_2x.jpg);
  background-size: cover;
}
#collection-module .box_image .box-2 {
  background-image: url(../image/promo_apple_vision_pro__f4v4zp0sum2y_large_2x.jpg);
  background-size: cover;
}
#collection-module .box_image .box-3 {
  background-image: url(../image/promo_macbook_air_15_midnight__3zojl1nanrme_large_2x.jpg);
  background-size: cover;
}
#collection-module .box_image .box-4 {
  background-image: url(../image/promo_airpods_pro_order__d8xv36p4uwae_large_2x.jpg);
  background-size: cover;
}
#collection-module .box_image .box-5 {
  background-image: url(../image/promo_iphone_tradein__bugw15ka691e_large_2x.jpg);
  background-size: cover;
}
#collection-module .box_image .box-6 {
  background-image: url(../image/tile__cauwwcyyn9hy_large_2x.jpg);
  background-size: cover;
}
.main-slider {
  height: 840px;
}
.swiper {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.swiper-slide {
  width: 2800 !important;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 92%;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.5;
}
.swiper-slide-active {
  opacity: 1;
}
#fotter .footer_description li {
  font-size: 12px;
}
#footer .links li:not(:first-child) {
  color: rgb(110, 110, 115);
}
#footer .links a:hover {
  text-decoration: underline;
}
#footer .item_footer li {
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}
#footer .accordion_body li {
  border: none;
}
